{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
&lt;div class="row"&gt;
    &lt;div class="col-md-8 mx-auto social-container my-2 order-md-1"&gt;
        &lt;button class="btn btn-danger  mb-2"&gt;
            &lt;a href="#"&gt;Login with Instagram&lt;/a&gt;
        &lt;/button&gt;
        &lt;button class="btn btn-primary mb-2"&gt;
            &lt;a href="#"&gt;Login with Facebook
            &lt;/a&gt;
        &lt;/button&gt;
        &lt;button class="btn btn-info mb-2"&gt;
            &lt;a href="#"&gt;Login with LinkedIn&lt;/a&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{% endblock %}